<div class="row" id="titulo">
  <h1>
    Parque Automotor
  </h1>
</div>
<div class="row">
  <div class="col-6" id="proposito" >
    <div class="row">
      <h2>
        Propósito
      </h2>
    </div>
    <div class="row">
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio ea eos omnis aspernatur odit
      eligendi, repellendus blanditiis aliquid porro, quia harum sed a assumenda ullam nobis repellat,
      accusantium amet.
      </p>
    </div>
  </div>
  <div class="col-6">
    <img src="\assets\proposito.png" alt="proposito" id="purpose">
  </div>
</div>
<div class="row mb-auto" id="info" >
  <div class="col-2">
    <h3>
      Aviso legal
    </h3>
  </div>
  <div class="col-3">
    <h3>
      Condiciones de uso de la Web
    </h3>
  </div>
  <div class="col-3">
    <h3>
      Política de privacidad
    </h3>
  </div>
  <div class="col-3">
    <h3>
      Politica de cookies
    </h3>
  </div>
  <div class="col-1">
    <img src="\assets\bandera_colombia.png" alt="col" id="colombia">
  </div>
</div>
