
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4">
    <h5 class="text-Black h4">Filtros</h5>
    <div class="Row">
      <div class="btn-group">
          <input
            type="radio"
            (click)="sendNotification('fecha',null)"
            class="btn-check"
            name="options"
            id="option1"
            autocomplete="off"/>
        <label class="btn btn-outline-dark" for="option1">Fecha</label>

        <input
          type="radio"
          (click)="sendNotification('conductor',null)"
          class="btn-check"
          name="options"
          id="option2"
          autocomplete="off"/>
        <label class="btn btn-outline-dark" for="option2">Filtro Conductor</label>

        <input
        type="radio"
        (click)="sendNotification('estudiante',null)"
        class="btn-check"
        name="options"
        id="option3"
        autocomplete="off"/>
      <label class="btn btn-outline-dark" for="option3">Filtro Estudiante</label>
      </div>
        <div *ngIf="mostrar_fecha" class="col">
          <div class="form-group">

            <label for="exampleFormControlInput1">Fecha:</label>
            <input
            type="date"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Fecha"
            (change)="sendNotification('fecha',$event)"/>
            <p>
              <button (click)="executeFilter('fecha')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;">Buscar</button>
              <button (click)="executeFilter('restablecer')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;margin-left: 10px;">Restablecer</button>
            </p>
          </div>
        </div>

        <div *ngIf="mostrar_conductor" class="col">
          <div class="form-group">

            <label for="exampleFormControlInput1">Conductor:</label>
            <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Id Conductor"
            (change)="sendNotification('conductor',$event)"/>
            <p>
              <button (click)="executeFilter('conductor')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;">Buscar por coductor</button>
              <button (click)="executeFilter('restablecer')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;margin-left: 10px;">Restablecer Filtro</button>
            </p>
          </div>
        </div>

        <div *ngIf="mostrar_estudiante" class="col">
          <div class="form-group">

            <label for="exampleFormControlInput1">Estudiante:</label>
            <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Id Estudiante"
            (change)="sendNotification('conductor',$event)"/>
            <p>
              <button (click)="executeFilter('estudiante')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;">Buscar por coductor</button>
              <button (click)="executeFilter('restablecer')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;margin-left: 10px;">Restablecer Filtro</button>
            </p>
          </div>
        </div>



    </div>
  </div>
</div>





<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <input type="checkbox" class="btn-check" id="a" autocomplete="off" />
    <label
      class="btn btn-outline-dark"
      for="a"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >Filtros</label
    ><br />
  </div>
</nav>
