img {

  object-fit: cover;
}
.center
{
  display: flex;
  justify-content: center;
}
.card-header-img {
  padding: 2% 2% 2% 2%;
  margin: 0px auto;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}
.centerBlock {
  display: table;
  margin: auto;
}
.img{
  width: 200px;
  height: 200px;
}