

<app-reserva-filter (notifyParent)="getNotification($event)"></app-reserva-filter>
<div class="row">
  <div class="col">
    <div class="row" style="overflow-y:auto; height: 650px;margin-top: 10px;">
      <div class="col" *ngFor="let reseva of reservas">
        <div class="card-body" (click)="onSelectedReserva(reseva)">
          <h5 class="card-title" >{{ reseva.id }}</h5>
          <h5>{{reseva.profesor.name}}</h5>
          <p class="card-text" style="width: 20rem" >[{{ reseva.descripcion }}]</p>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="selected ? 'col' : 'd-none'">
    <div class="col" *ngIf="selected" style="width: 20rem">
      <div class = "row; overflow-hidden" style="height: 650px;margin-top: 10px;">
        <app-reserva-detail [reservaDetail]="selectedReserva"></app-reserva-detail>
      </div>
    </div>
  </div>
</div>
