<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4">
    <h5 class="text-Black h4">Filtros</h5>
    <div class="row">
      <div class="btn-group">
        <input
          type="radio"
          (click)="sendNotification('fecha',null)"
          class="btn-check"
          name="options"
          id="option1"
          autocomplete="off"
        />
        <label class="btn btn-outline-dark" for="option1">Fecha</label>
        <input
          type="radio"
          (click)="executeFilter('mas_reservas')"
          class="btn-check"
          name="options"
          id="option2"
          autocomplete="off"
        />
        <label class="btn btn-outline-dark" for="option2"
          >Top conductores con más reservas</label
        >
      </div>
      <div *ngIf="mostrar_fecha" class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Fecha</label>

          <input
            type="date"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Fecha"
            (change)="sendNotification('fecha',$event)"

          />
          <p>
            <button (click)="executeFilter('fecha')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;">Buscar</button>
            <button (click)="executeFilter('Restablecer')" type="submit"   class="btn btn-outline-dark" style="margin-top: 10px;margin-left: 10px;">Restablecer</button>
          </p>

        </div>

      </div>
    </div>

  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <input type="checkbox" class="btn-check" id="a" autocomplete="off" />
    <label
      class="btn btn-outline-dark"
      for="a"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >Filtros</label
    ><br />
  </div>
</nav>
