<div class="container-fluid">
  <p class="h3 p-3">{{ vehiculoDetail.placa }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ vehiculoDetail.foto }}"
          alt="{{ vehiculoDetail.placa }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Reservas</dt>
        <div
          class="scroll-container"
          style="overflow-y: auto; height: 100px; width: 80%"
        >
        <dd class="caption" *ngFor="let reserva of vehiculoDetail.reservas">
          <li
              (click)="onSelectedReserva(reserva)"
              class="list-group-item; list-group-item-action"
            >
              <a routerLink="/reservas/{{ reserva.id }}">
                {{ reserva.fechaHoraReservada}}</a>
            </li>
        </dd>
        </div>
        <dt>Mantenimientos</dt>
        <div
          class="scroll-container"
          style="overflow-y: auto; height: 100px; width: 80%"
        >
        <dd class="caption" *ngFor="let mantenimiento of vehiculoDetail.mantenimientos">
          <li
              (click)="onSelectedMantenimiento(mantenimiento)"
              class="list-group-item; list-group-item-action"
            >
              <a routerLink="/mantenimientos/{{ mantenimiento.id }}">
                {{ mantenimiento.fechaMantenimiento}}</a>
          </li>
        </dd>
        </div>

        <dt>Documentos</dt>
        <dd class="caption" *ngFor="let documento of vehiculoDetail.documentos">
          {{ documento.tipo }}
        </dd>

        <dt>Modelo</dt>
        <dd>{{ vehiculoDetail.modelo }}</dd>
        <hr />
        <dt>Marca</dt>
        <dd>{{ vehiculoDetail.marca }}</dd>
        <hr />
        <dt class="bold">Capacidad</dt>
        <dd class="caption">{{ vehiculoDetail.capacidadPasajeros }}</dd>
        <hr />
      </dl>
    </div>
  </div>
  <div [ngClass]="activate ? 'row' : 'd-none'" style="margin-top: 10px">
    <div *ngIf="activate">
      <div class="container border" style="margin-bottom: 10px">
        <app-mantenimiento-detail [mantenimientoDetail]="mantenimiento"></app-mantenimiento-detail>
      </div>
    </div>
  </div>
  <div [ngClass]="activate ? 'row' : 'd-none'" style="margin-top: 10px">
    <div *ngIf="activate">
      <div class="container border" style="margin-bottom: 10px">
        <app-reserva-detail [reservaDetail]="reserva"></app-reserva-detail>
      </div>
    </div>
  </div>
</div>
