<div class="container-fluid">
  <div class="row">
    <p class="h3 p-3" style="text-align:center;">{{ vehiculoDetail.placa }}</p>

    <div class="col">
      <img
        class="img-fluid"
        style="width: 400px; height: 200px; object-fit: cover"
        src="{{ vehiculoDetail.foto }}"
        alt="{{ vehiculoDetail.placa }}"
      />
      <dl>
        <dt>Modelo</dt>
        <dd>{{ vehiculoDetail.modelo }}</dd>
        <hr />
        <dt>Marca</dt>
        <dd>{{ vehiculoDetail.marca }}</dd>
        <hr />
        <dt class="bold">Capacidad</dt>
        <dd class="caption">{{ vehiculoDetail.capacidadPasajeros }}</dd>
        <hr />
        <dt>Documentos</dt>
        <dd class="caption" *ngFor="let documento of vehiculoDetail.documentos">
          {{ documento.tipo }}
        </dd>
        <div class="row">
          <div class="col">
            <dt>Reservas</dt>
            <div
              class="scroll-container"
              style="overflow-y: auto; height: 100px; width: 100%"
            >
              <dd
                class="caption"
                *ngFor="let reserva of vehiculoDetail.reservas"
              >
                <li
                  (click)="onSelectedReserva(reserva)"
                  class="list-group-item; list-group-item-action"
                >
                  {{ reserva.fechaHoraReservada}}
                </li>
              </dd>
            </div>
          </div>
          <div class="col">
            <dt>Mantenimientos</dt>
            <div
              class="scroll-container"
              style="overflow-y: auto; height: 100px; width: 100%"
            >
              <dd
                class="caption"
                *ngFor="let mantenimiento of vehiculoDetail.mantenimientos"
              >
                <li
                  (click)="onSelectedMantenimiento(mantenimiento)"
                  class="list-group-item; list-group-item-action"
                >
                  {{ mantenimiento.fechaMantenimiento}}
                </li>
              </dd>
            </div>
          </div>
        </div>
      </dl>
    </div>
    <div [ngClass]="activateM ? 'col' : 'd-none'">
      <div *ngIf="activateM">
        <div class="container border" style="margin-bottom: 10px">
          <app-mantenimiento-detail
            [mantenimientoDetail]="mantenimiento"
          ></app-mantenimiento-detail>
        </div>
      </div>
    </div>
    <div [ngClass]="activateR ? 'col' : 'd-none'">
      <div *ngIf="activateR">
        <div class="container border" style="margin-bottom: 10px">
          <app-reserva-detail [reservaDetail]="reserva"></app-reserva-detail>
        </div>
      </div>
    </div>
  </div>
</div>
