<!-- <app-mantenimiento-list></app-mantenimiento-list> -->
<!-- <app-reserva-list></app-reserva-list> -->



 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
  <div>
    <h1 style="color: white; text-align: center"> Universidad Del Oriente</h1>
  </div>
  <div class="container-fluid">

    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" style="color: white; font-size: 20px" routerLink="/reservas/list">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: white; font-size: 20px">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/conductores/list" style="color: white; font-size: 20px">Conductores</a>
        </li>
      </ul>
    </div>
  </div>
 </nav>

 <div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 </div>
