
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
  <div class="container-fluid">
    <div class="col-1">
      <div class="row">
      <img src="\assets\White castle.png" alt="image" id="castillo">
      </div>
      <div class="row">
          <h2>
          Parque automotor
          </h2>
      </div>
    </div>
    <a class="navbar-brand" routerLink="/main/main_page">
      <div class="col-2">
        <div class="row">
        <h1> Universidad <br/> Del Oriente</h1>
        </div>

      </div>
    </a>
    <button 
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="col left"></div>
        <div class="right navbar-nav">
          <div class=" navbar-nav">
            <li class="nav-item">
              <a class="navbar-brand" aria-current="page" routerLink="/reservas/list">
                Reservas
              </a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" aria-current="page" routerLink="/vehiculos/list">
                Vehículos
              </a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" aria-current="page" routerLink="/conductores/list">
                Conductores
              </a>
            </li>
          </div>
        </div>
    </div>
  </div>
 </nav>

 <div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 </div>
