
<!-- <div class="container fluid">
  <h1 class="center"> Reservas </h1>
</div>
<p>
  {{reservaDetail.vehiculo.placa}}
</p>
<p>
  name: {{reservaDetail.profesor.name}}
</p> -->
   <div class="container-fluid">
    <p class="h3 p-3">{{ reservaDetail.id }}</p>
    <div class="row">
      <div class="col-md-12">
        <div class="thumb" style="width: 10rem; height: 10rem">
          <img class="img-fluid"
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.concienciaeco.com%2F2012%2F04%2F27%2Fque-es-una-reserva-natural%2F&psig=AOvVaw09ePoO3EeWrbIzyRfNjhpc&ust=1652472107399000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKDtg7vg2vcCFQAAAAAdAAAAABAD.png"/>
        </div>
      </div>
      <div class="col">
        <dl>
          <dt>Destino</dt>
          <dd>{{reservaDetail.lugarDestino}}</dd>
          <dt>Fecha Realización:</dt>
          <dd>{{ reservaDetail.fechaHoraReservada}}</dd>
          <hr/>
          <dt class="bold">Profesor </dt>
            <dd class="caption">{{ reservaDetail.profesor.name }}</dd>
          <hr />
          <dt class="bold">Vehiculo</dt>
          <dd class="caption">{{ reservaDetail.vehiculo.placa }}</dd>
          <hr />
          <dt class="bold">Conductor</dt>
          <dd class="caption">{{ reservaDetail.conductor.nombre }}</dd>
        </dl>
      </div>
    </div>
  </div>

