
   <div class="container-fluid">
    <p class="h3 p-3">Reserva #{{ reservaDetail.id }}</p>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col">
        <dl>
          <dt>Destino</dt>
          <dd>{{reservaDetail.lugarDestino}}</dd>
          <dt>Fecha Realización:</dt>
          <dd>{{ reservaDetail.fechaHoraEfectuada}}</dd>
          <hr/>
          <dt class="bold">Profesor </dt>
            <dd class="caption" (click)="selectedProfesor(reservaDetail.profesor)">{{ reservaDetail.profesor.name }}</dd>
          <hr />
          <dt class="bold">Vehiculo</dt>
          <dd class="caption">{{ reservaDetail.vehiculo.placa }}</dd>
          <hr />
          <dt class="bold">Conductor</dt>
          <dd class="caption">{{ reservaDetail.conductor.nombre }}</dd>
        </dl>
      </div>
    </div>

    <div [ngClass]="profesorSelected ? 'row' : 'd-none'" style="margin-top: 10px">
      <div *ngIf="profesorSelected">
        <div class="container border" style="margin-bottom: 10px">
          <h5>{{ reservaDetail.profesor.name }}</h5>
          <p>{{ reservaDetail.profesor.correo}}</p>
          <p>{{ reservaDetail.profesor.telefono}}</p>
        </div>
      </div>
    </div>
  </div>

