<div class="container-fluid">
  <div [ngClass]="selected ? 'row' : 'd-none'">
    <div class="row" style="margin-top: 10px;">
      <div *ngIf="selected">
        <app-vehiculo-detail [vehiculoDetail]="selectedVehiculo"></app-vehiculo-detail>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      <div class="row" style="overflow-y:auto; height: 500px;margin-top: 10px;">
        <div *ngFor="let vehiculo of vehiculos" class="col mb-3" style="text-align:center">
          
              <img
              class="card-header-img"
              src="{{ vehiculo.foto }}"
              alt="{{ vehiculo.placa }}"
              (click)="onSelected(vehiculo)"
            />
            
            <div class="card-body">
              <h5 class="card-title">{{ vehiculo.placa }}</h5>
              <p class="card-text">[{{ vehiculo.tipo }}]</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
