<div class="container fluid">
  <h1 class="center"> Conductores </h1>

  <div class="row form-group">
    <div class="row ">
      <div *ngIf="selected">
        <app-conductor-detail [conductorDetail]="selectedConductor"></app-conductor-detail>
      </div>
    </div>
  </div>
    <div class="row">
      <div *ngFor="let conductor of conductores" class="col mb-3" style="text-align:center">
        <div class="card">
          <img class="card-header-img " src="{{conductor.foto}}"
            alt="{{ conductor.nombre }}" (click)="onSelected(conductor)" />
          <div class="card-body">
            <h5 class="card-title center">{{conductor.nombre}}</h5>
            <p class="card-text center">{{conductor.identificacion}}</p>
          </div>
        </div>
      </div>

    </div>


</div>
