
<div class="container-fluid pad">
  <app-conductor-filter (notifyParent)="getNotification($event)"></app-conductor-filter>
  <div class="row">
    <div class="col">
      <div
        class="row"
        style="overflow-y: auto; height: 450px; margin-top: 10px"
      >
        <div
          *ngFor="let conductor of conductores"
          class="col mb-3"
          style="text-align: center"
        >
          <div class="card">
            <img
              class="card-header-img"
              src="{{ conductor.foto }}"
              alt="{{ conductor.nombre }}"
              (click)="onSelected(conductor)"
            />
            <div class="card-body">
              <h5 class="card-title center">{{ conductor.nombre }}</h5>
              <p class="card-text center">{{ conductor.identificacion }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="selected ? 'col' : 'd-none'">
      <div class="row" style="margin-top: 10px">
        <div *ngIf="selected">
          <app-conductor-detail
            [conductorDetail]="selectedConductor"
            [activate]="false"
          ></app-conductor-detail>
        </div>
      </div>
    </div>
  </div>
</div>
